body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: row;
}
.left-side{
    background-color: aqua;
    width: 50%;
    height: 100%;
}
.right-side{
    background-color: aquamarine;
    width: 50%;
    height: 100%;
}